[submodule "cookbooks/nscd"]
	path = cookbooks/nscd
	url = git@github.com:opscode-cookbooks/nscd.git
[submodule "cookbooks/389"]
	path = cookbooks/389
	url = git@github.com:john5223/389.git
[submodule "cookbooks/openldap"]
	path = cookbooks/openldap
	url = git@github.com:john5223/openldap.git
